* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
  }
  
  body {
    margin: 0;  
    padding: 0;
  }
  
  .main-section h1 {
    margin: 0;
    padding: 0.6rem;
    padding-left: 4rem;
    background: #00945E;
    color: white;
  }
  .first {
    width: 100%;
    height: 260px;
    background: url("../img/photo-1569706971306-de5d78f6418e\ \(2\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 2rem;
}

  
  .first h2 {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }

  .first p {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }
  
  .second h3{
    color:#00945E;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
  }
  .second p{
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #353A45;
  }
  #mission-description > p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #353a45;
  }
  #mission-description > h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #00945e;
  }
  @media (min-width: 400px) {
    #mission-container {
      display: block;
      width: 100%;
      margin: 2%;
    }
    #mission-image {
      width: 80%;
      margin: 0 7%;
    }
     
  }
  
  @media (min-width: 768px) {
    #mission-container {
      width: 100%;
      margin: 5%;
    }
    #mission-image {
      width: 50%;
      float: left;
      position: absolute;
      width: 532px;
      height: 400px;
    }
    img {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }
  
    #mission-description {
      width: 50%;
      padding: 5% 15px;
      margin-bottom: 0px;
    }
    #mission-description > h4 {
      position: absolute;
      width: 86px;
      height: 30px;
      right: 256px;
      margin-top: 20px;
    }
    #mission-description > p {
      position: absolute;
      width: 450px;
      height: 120px;
      right: 70px; 
      margin-top: 40px;
      padding: 30px;
    }
  } 
#vision-description > p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #353a45;
}
#vision-description > h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #00945e;
}
@media (min-width: 400px) {
  #vision-container {
    display: block;
    width: 100%;
    margin: 2%;
  }
  #vision-image {
    width: 60%;
    margin: 0 7%;
    position: absolute;
    width: 532px;
    height: 400px;
    left: 668px;
    top: 1576px; 
    padding-right: 50px;
  }
  img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    
  }

  #vision-description {
    width: 100%;
    padding: 0 15%;
  }
}

@media (min-width: 768px) {
  #vision-container {
    width: 100%;
    margin-top: 20%;
  }
  #vision-image {
    width: 50%;
    float: right;
    position: absolute;
    width: 532px;
    margin-left: 30px;
    height: 200px;
    left: 668px;
    top: 1000px;
  }
  img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
  }

  #vision-description {
    width: 50%;
    padding: 10% 0;
  }
  #vision-description > h4 {
    position: absolute;
    width: 86px;
    height: 30px;
    left: 256px;
    top: 1040px;
  }
  #vision-description > p {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 150px;
    padding-top: 30px;
    top: 1070px;
  }
}

 