* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
  }
  
  body {
    margin: 0;  
    padding: 0;
  }
  header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.logo{
    justify-content: flex-start;
    height: inherit;
    margin-left: 8px;
    margin-top: 6px;
}
.logo2{
    margin-left: -1em;
    width: 150px;
}
header ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li{
    position: relative;
    margin-top: 6px;
}
header ul li ul{
    position: absolute;
    top: 40px;
    right: 6px;
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: #ebf1ef;
    text-align: center;
}
header ul li ul li a:hover{
    background-color:  #00945E;
    text-decoration: none;
    color: white;
}
header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 25px;
    color: black;

}
header ul li a:hover{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
header .menu-toggle{
    display: none;
}
.active{
    font-weight: bold;
    color: black;
}
  .main-section h1 {
    margin: 0;
    padding: 0.6rem;
    padding-left: 4rem;
    background: #00945E;
    color: white;
  }
  .first {
    width: 100%;
    height: 260px;
    background: url("../img/Header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 2rem;
}

  
  .first h2 {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }

  .first p {
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  .second{
    padding: 25px;
    margin: 15px;
  }
  
  .second h3{
    color:#00945E;
    font-weight: bold;
    font-size: 35px;
    line-height: 5px;
    text-align: center;
  }
  .second p{
    padding-top: 15px;
  font-size: 25px;
  line-height: 10px;
  text-align: center;
  color: hsl(221, 13%, 24%);
  } 
  #mission-container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #mission-description  p {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    color: #353a45;
  }
  #mission-description  h4 {
    font-family: Lato;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #00945e;
  }
  /* @media (min-width: 400px) {
    #mission-container {
      display: block;
      width: 100%;
      margin: 2%;
    }
    #mission-image {
      width: 80%;
      margin: 0 7%;
    }
     
  }
  
  @media (min-width: 768px) {
    #mission-container {
      width: 100%;
      margin: 5%;
    }
    #mission-image {
      width: 50%;
      float: left;
      position: absolute;
      width: 532px;
      height: 400px;
    }
    img {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }
  
    #mission-description {
      width: 50%;
      padding: 5% 15px;
      margin-bottom: 0px;
    }
    #mission-description > h4 {
      position: absolute;
      width: 86px;
      height: 30px;
      right: 256px;
      margin-top: 20px;
    }
    #mission-description > p {
      position: absolute;
      width: 450px;
      height: 120px;
      right: 70px; 
      margin-top: 40px;
      padding: 30px;
    }
  }  */
  #vision-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
#vision-description > p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #353a45;
}
#vision-description > h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #00945e;
}
/* @media (min-width: 400px) {
  #vision-container {
    display: block;
    width: 100%;
    margin: 2%;
  }
  #vision-image {
    width: 60%;
    margin: 0 7%;
    position: absolute;
    width: 532px;
    height: 400px;
    left: 668px;
    top: 1576px; 
    padding-right: 50px;
  }
  img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    
  }

  #vision-description {
    width: 100%;
    padding: 0 15%;
  }
}

@media (min-width: 768px) {
  #vision-container {
    width: 100%;
    margin-top: 20%;
  }
  #vision-image {
    width: 50%;
    float: right;
    position: absolute;
    width: 532px;
    margin-left: 30px;
    height: 200px;
    left: 668px;
    top: 1000px;
  }
  img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
  }

  #vision-description {
    width: 50%;
    padding: 10% 0;
  }
  #vision-description > h4 {
    position: absolute;
    width: 86px;
    height: 30px;
    left: 256px;
    top: 1040px;
  }
  #vision-description > p {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 150px;
    padding-top: 30px;
    top: 1070px;
  }
} */

footer{
  background:#323E48;
  color: #fff;
  padding: 20px 0px 70px 0px;
}
footer ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
footer .heading{
  font-weight: 600;
}
footer ul li{
  font-size: 14px;
}
.footer-btm{
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}
footer a, .footer-btm a{
  color:#fff;
  font-size: 14px;
}
footer a:hover, .footer-btm a:hover{
  color: #ebf1ef;
  text-decoration: none;
  font-size: 14px;
}
.copyright{
  text-align-last: right;

}div .twitter{
  display: flex;
}
