* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*--------------- HEADER --------------------*/
@keyframes Slide_right{
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Slide_left{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0);
    }
}

header {
    height: 60px;
    font-family: 'Lato', sans-serif;
    animation: Slide_left 1.1s ease-in;
}
header *{
    color: black;
}
.logo{
    float: left;
    height: inherit;
    margin-left: 3.2em;
    margin-top: 10px;
}
.logo2{
    margin-left: -1em;
    width: 150px;
    margin-top: 18px;
}
header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;    
    margin-top: 18px;
}
header ul li ul{
    position: absolute;
    top: 40px;
    right: 6px;
    display: none;
}
#check {
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: #ebf1ef;
    text-align: center;
}
header ul li ul li a:hover{
    background-color:  #00945E;
    text-decoration: none;
    color: white;
}
header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 25px;
    color: black;
    
}
header ul li a:hover{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
header .menu-toggle{
    display: none;
}
.active{
    font-weight: bold;
    color: black;
}

/* 1 */

@keyframes Slide_right{
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Slide_left{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0);
    }
}


header{
    height: 60px;
    animation: Slide_left 1.1s ease-in;
}
header *{
    color: black;
}
.logo{
    float: left;
    height: inherit;
    margin-left: 3.2em;
    margin-top: 15px;
}
.logo2{
    margin-left: -1em;
    width: 150px;
}
header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;    
    margin-top: 18px;
}
header ul li ul{
    position: absolute;
    top: 50px;
    right: 6px;
    display: none;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: #ebf1ef;
    text-align: center;
}
header ul li ul li a:hover{
    background-color:  #00945E;
    text-decoration: none;
    color: white;
}
header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 25px;
}
header ul li a:hover{
    /* text-decoration: underline #69b89d; */
    font-weight: 600;
}
header .menu-toggle{
    display: none;
}
.active{
    font-weight: bold;
}


/* ----------------------HEAD --------------- */
.bgGreen {
    height: 66px;
    width: 100%;
    padding-left: 100px;
}
.bgGreen h3 {
    line-height: 55px;
}

.card-img-overlay{
    text-align: center;
    margin-top: 7%
}
.headImg {
    height: 436px;
  }
  .bgBlack {
    background-color: rgba(0, 0, 0, 0.65);
    height: 416px;
    margin-top: -436px;
  }
  
  .headPara1 {
    font-style: normal;
  font-weight: 500;
  font-size: 36px;
  }
  .headPara2 {
    font-style: normal;
  font-weight: normal;
  font-size: 18px;
  }
/* -------------------body -------------------------*/
.bodyImg2 {
    margin-top: -500px;
    border: none;
   }
  
  .BodyAImg1 {
    width: 532px;
    height: 400px;
    margin-left: 60px;
    border-radius: 10px;
   
  }
  .row1 {
    margin-left: 2px;
    margin-top: 100px;
    padding: 20px;
  }
  .row1 .statement1 {
    margin-top: 100px;
    text-align: left;
  }

.row1 p {
width: 379px;
height: 120px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: #353A45;
}

.row1 h3 {
width: 119px;
height: 34px;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;
text-align: center;
color: #00945E;

}

  .row2 {
    margin-left: 10px;
    margin-top: 250px;
    padding: 20px;
  }
  .row2 p {
    width: 330px;
    height: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #353A45;
  }
  .row2 h3 {
    width: 96px;
    height: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #00945E;
  }
  
  .row2 .statement2 {
      margin-left: 100px;
      text-align: left;
  }
  .BodyAImg2 {
      margin-top: -300px;
      margin-left: 600px;
  }



/*------------------- footer------------- */
   
@media (max-width: 1200px) {
    .BodyAImg1, .BodyAImg2  {
        width: 452px;
        height: 310px;
    }
    .row1 {
        padding: 10px;
    }
    .row1 p, .row2 p {
        width: 339px;
    }
    .row1 .statement1 {
        margin-left: -30px;
    }
    .row2 {
        padding: 10px;
    }
    .BodyAImg2 {
     width: 350px;
    }

    header ul li{
        float: left;
        position: relative;    
        margin-top: 15px;
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .row1 .statement1 {
        margin-top: 430px;
        margin-left: -300px;
    }
    .BodyAImg1 {
        margin-left: 150px;
        width: 532px;
        height: 400px;
    }
    .row1 p, .row2 p {
        width: 379px
    }
    .BodyAImg2 {
        width: 532px;
        height: 400px;
        position: absolute;
      top: 50px;
      left: -440px;
    }
    .Mission1 {
      position: absolute;
      top: 200px;
      left: 140px;
    }
    .para1 {
        position: absolute;
      top: 250px;
      left: 140px;
    }


    .ft_text h4 {
        font-size: 15px;
        font-weight: bold;
    }
    .ft_text p {
        font-size: 12px;
    }
    .lastFimg1 {
        width: 250px;
    }
    .lastFimg2 {
        width: 100px;
    }
    .bgGreen h3 {
        font-size: 25px;
    }
    header ul li{    
        font-size: 12px;
        margin-left: -20px;
    }
}

@media (max-width: 888px){
    .logo{
        margin-top: 20px;
        margin-left: 10px;
    }
    .logo1{
        width: 70px;
    }
    .logo2{
        width: 130px;
    }
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        background: #ebf1ef;
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li{
        width: 100%;
    }
    header ul li ul{
        position: static;
        /* display: block; */
        width: 100%;
    }
    header ul li ul li a{
        text-align: left;
        padding-left: 50px;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 35px;
    }
    #check:checked ~ ul {
        left: 0px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1C323A;
        top: 300px;
        display: block;
        text-align: center;
        transition: all .5s;
        
     
    }

    @media (max-width: 888px){
        .logo{
            margin-top: 20px;
        margin-left: 10px;
        }
        .logo1{
            width: 70px;
        }
        .logo2{
            width: 130px;
        }
        header{
            position: relative;
        }
        header ul{
            width: 100%;
            background: #ebf1ef;
            max-height: 0px;
            overflow: hidden;
        }
        .showing{
            max-height: 100em;
        }
        header ul li{
            width: 100%;
        }
        header ul li ul{
            position: static;
            /* display: block; */
            width: 100%;
        }
        header ul li ul li a{
            text-align: left;
            padding-left: 50px;
        }
        header .menu-toggle{
            display: block;
            position: absolute;
            right: 20px;
            top: 35px;
        }
        #check:checked ~ ul {
            left: 0;
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #1C323A;
            top: 300px;
            display: block;
            text-align: center;
            transition: all .5s; 
         
        }



@media (max-width: 768px) {
    .bgGreen h3 {
        margin-left: -50px;
        font-size: 22px;
    }
    .imageCard .card-img-overlay {
        margin-top: -10px;
    }
    
    .row1 .statement1 {
        margin-top: 380px;
        margin-left: -300px;
    }
    .BodyAImg1 {
        margin-left: 50px;
        width: 472px;
        height: 340px;
    }
    .row1 p, .row2 p {
        width: 379px
    }
    .BodyAImg2 {
        width: 472px;
        height: 340px;
        position: absolute;
      top: 50px;
      left: -530px;
    }
    .Mission1 {
      position: absolute;
      top: 120px;
      left: 10px;
    }
    .para1 {
        position: absolute;
      top: 150px;
      left: 10px;
    }
    .ft1part {
        position: absolute;
        top: 100px;
        left: 20px;
        line-height: 10px;
    }
    .ftimg1, .ftimg2 {
        width: 100px;
    }
    .ftimg2 {
        margin-left: 100px;
    }
    .box1, .box2 {
        line-height: 10px;
        position: absolute;
        top: 70px;
    }
    .box1 p, .box2 p  {
        font-size: 10px;
    }

    .box1 h4, .box2 h4  {
        font-size: 12px;
    }

}



@media (max-width: 600px) {
    .card-img-overlay {
        margin-top: -2% !important;
    }
    .card-title {
        font-size: 16px;
    }
    
    .card-text {
        font-size: 14px;
    }
    
    .row1 .statement1 {
        position: absolute;
        left: 380px;
        top: 50px;
    }
    .BodyAImg1 {
        position: absolute;
        left: 10px;
        width: 292px;
        height: 180px;
    }
    
    .row1 p, .row2 p {
        width: 280px;
        font-size: 20px;
    }
    .BodyAImg2 {
        width: 292px;
        height: 180px;
        position: absolute;
      top: 500px;
      left: -550px;
    }
    .headPara2 {
        width: 280px;
    }
    .bgGreen h3 {
        font-size: 20px;
    }
    
    .Mission1 {
      position: absolute;
      top: 400px;
      left: -10px;
    }
    .para1 {
        position: absolute;
      top: 450px;
      left: -10px;
    }
    .bodyImg1, .bodyImg2 {
        width: 100%;
        height: 834.32px;
    }
    .ft1part {
        position: absolute;
        top: 100px;
        left: -80px;
        line-height: 10px;
    }
    .ftimg1, .ftimg2 {
        width: 100px;
    }
    .ftimg2 {
        margin-left: 100px;
    }
    .box1 {
        line-height: 10px;
        position: absolute;
        top: 70px;
       
        left: 0px;
    }
    .box1 p, .box2 p  {
        font-size: 10px;
    }

    .box1 h4, .box2 h4  {
        font-size: 12px;
    }
    .box2 {
        line-height: 10px;
        position: absolute;
        top: 220px;
        
        left: 150px;
    }
   

    .lastFimg1 {
        width: 150px;
    }
    .lastFimg2 {
        width: 50px;
        margin-left: 300px;
        margin-top: -70px;
    }
    .lastft {
        height: 30px;
       
    }
    .footer {
        margin-bottom: -2400px;
        font-size: 5px;
    }
    .ft_text h4, .ft_text p {
        font-size: 5px;
      
    }
    .box2 {
        float: right;
        line-height: 0px;
        margin-top: -50px;
    }
    .box1 {
       margin-left: 200px;
        line-height: 0px;
        margin-top: 100px; 
    } 
    .ft_text {
        margin-top: -70px;
    }
  
   
}


@media (max-width: 400px) {
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
    }
   
    .bgGreen h3 {
        font-size: 15px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .ft1part {
        position: absolute;
        top: 10px;
        left: -50px;
        line-height: 10px;
    }
    .bodyImg1, .bodyImg2 {
        width: 100%;
        height: 634.32px;
    }
    
    .box2 {
        
    }
    .box1 {
     
    }
    .ft_text {
        position: absolute;
        top: -80px;
        line-height: 10px;
        left: 40px;
    }
    .ftimg1 {
        width: 70px;
        margin-top: 80px;
        margin-left: -100px;
    }
    .ftimg2 {
        width: 70px;
    }
    .lastFimg2 {
        width: 50px;
        margin-left: 200px;
        margin-top: -60px;
    }
    .statement1 p, .statement2 p {
        font-size: 12px;
        width: 200px;
    }
    .statement1 h3, .statement2 h3 {
        font-size: 20px;
    }
   .BodyAImg1 {
    width: 252px;
    height: 130px;
    border-radius: 5px;
    position: absolute;
    top: -50px;
    left: -30px;
   }

   .BodyAImg2 {
    width: 252px;
    height: 130px;
    position: absolute;
    top: 320px;
    left: -580px;
}
.row1 .statement1 {
    position: absolute;
    left: 380px;
    top: -100px;
}
.row1 .statement1 p, .row2 .statement2  p {
    line-height: 20px;
}
.row2 .statement2 {
   margin-top: -250px;
}




@media (max-width: 330px) {
    .card-title {
        font-size: 12px;
    }
    .card-text {
        font-size: 10px;
    }
   
}

