.connect {
    background-color: #005938;
    padding: 80px;
    margin: 0px;
    color: #ffffff;
    font-family: Lato;
    text-align: center;
}

.connect-text h2{
    font-size: 1.8em;
}

.connect-text h5 {
    font-weight: 100;
    font-size: .9em;
}

.social button {
    color: #00945E;
    background-color: white;
    padding: 8px;
    border: none;
    margin-top: 35px;
    border-radius: 5px;


}


@media screen and (max-width: 500px){
    .social a{
        font-size: 10px
    }
    .social a{
        text-decoration: none;
        font-size: 13px;
        margin-left: 6px;
        color: white
    }

}
@media screen and (max-width: 300px){
    .social a{
        font-size: 10px
    }
    .social a{
        text-decoration: none;
        font-size: 13px;
        margin-left: 8px;
        color: white
    }

}
@media screen and (max-width: 220px){
    .connect {
        background-color: #005938;
        max-width: 100%;
        margin: 0px;
        color: #ffffff;
        font-family: Lato;
        text-align: center;
        font-size: 10px
    }
    .social a{
        font-size: 10px
    }
  
    .social a{
        text-decoration: none;
        font-size: 9px;
        margin-left: 8px;
        color: white
    }
    
    .connect-text h5 {
        font-size: 8px;
    }

}