.date {
	color: white;
	background-color: #00945e;
}

.pad {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	background-color: #323e48;
	color: white;
}

.bottom-logo {
	width: 100px;
	height: 100px;
}

.logo2 {
	padding-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 75%;
	border: 1px solid #00945E;
	margin-bottom: 100px;
  }
  
  td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 10px;
    line-height: 40px;

  }
  
  tr:nth-child(even) {
    background-color: #EBF1EF;
  }

  
