* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reponsive-div {
  margin: 0 auto;
}
.table-section {
  padding: 8px;
}

.table-top {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.table-top > h2 {
  color: #00945e;
  margin: auto 0;
  padding: 0px;
}
.table-top > h4 {
  padding: 10px 25px;
  text-align: right;
}

.table-top button,
.graph > button {
  padding: 10px 30px;
  background: #00945e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.main-table {
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tablet {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.tablettr th,
.tablettr td {
  text-align: left;
  padding: 14px;
  font-size: 0.9rem;
}

.tablettr th {
  background: white;
  color: black !important;
  font-size: 1rem;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.tablettr > :nth-child(2) {
  color: #00945e;
}

.tablettr {
  border-bottom: 1px solid #f2f2f2;
}

.tablettr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 5px;
}

.table-footer > span {
  margin: auto 0;
  color: #191e29;
}

.pagination {
  background: #f2f2f2;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #00945e !important;
  color: white;
  border: 1px solid #00945e !important;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 480px) {
  .reponsive-div {
    width: 95%;
  }

  .table-top {
    font-size: 0.8rem;
  }

  .table-top > div {
    width: 100%;
  }

  .table-footer {
    display: block;
  }

  .tablettr th {
    font-size: 0.8rem;
  }

  .table-footer {
    margin: 15px 5px 40px 5px;
  }
}

/* CHART STYLE */

.roundtable {
  background-image: url(./assets/images/2.png);
  /* position: absolute; */
  width: 1400px;
  height: 300px;
  left: 31px;
  top: 134px;
  padding: 20px;
}

* {
  box-sizing: border-box;
}
.outsidegraph {
  margin-left: 70px;
  margin-bottom: 20px;
  position: relative;
}
.outsidegraph > span {
  font-weight: bolder;
}
.graph {
  width: fit-content;
  padding-top: 20px;
  background-color: white;
  position: relative;
}

.graph > button {
  position: absolute;
  right: -120px;
  top: 10px;
}

.graph .date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}
.graph .amount {
  position: absolute;
  top: 260px;
  left: -115px;
  font-weight: bold;
  font-size: 0.8rem;
  transform: rotate(-90deg);
}
.graphbody svg {
  margin-left: 20px;
  margin-right: 20px;
}
.graphbody {
  position: relative;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  /* padding: 0 10px; */
}

.graphlabel {
  display: flex;
  flex-direction: column;
  background-color: #005938;
  width: fit-content;
  border-radius: 5px;
  color: white;
  padding: 8px;
  position: relative;
  left: 240px;
}

.graphlines {
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
}
.graphlines .numbers {
  position: absolute;
  top: -10px;
  left: -35px;
}
.graphlines .numbers div {
  margin-bottom: 5.5px;
}
.graphline {
  width: 100%;
  height: 0.1px;
  background-color: #d7d7d7;
  margin-bottom: 30px;
}

.colors {
  display: flex;
  transform: translateX(-50%);
  justify-content: space-between;
  position: absolute;
  bottom: -40px;
  left: 50%;
}
.colors > span {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.colors .color {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.comments {
  background-color: rgba(0, 148, 94, 0.28);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  padding-bottom: 20px;
}
.comments img {
  height: fit-content;
}

.comment img {
  margin-right: 20px;
}
.comment {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border: #00945e solid 1px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
}
.subcomment {
  box-sizing: border-box;
  display: flex;
  background-color: white;
  margin-left: 50px;
  margin-top: 30px;
}

.right {
  display: flex;
  flex-direction: column;
}

.topright {
  /* position: relative; */
  color: #005938;
  font-weight: bold;
}

.topright :nth-child(2) {
  font-size: 0.6rem;
  margin-left: 5px;
}

.topright svg {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.react > span {
  margin-right: 10px;
}

.flap {
  position: absolute;
  right: 20px;
  top: 28px;
  color: #323e48;
  border: #005d3b 1px solid;
  border-radius: 5px;
  background-color: white;
}
.flap div {
  padding: 5px 35px;
  text-align: center;
  cursor: pointer;
}

.write {
  width: 65%;
  position: relative;
}
.write input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.write svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.write svg:nth-child(2) {
  right: 55px;
}
.write svg:nth-child(3) {
  right: 20px;
}

@media only screen and (max-width: 411px) {
  .graphbody svg {
    width: 270px;
  }
  .graphlabel {
    left: 110px;
    top: 90px;
  }
  .colors {
    left: calc(50% + 40px);
  }
  .colors .color {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  .comment {
    width: 95%;
  }
  .subcomment {
    margin-left: -70px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none !important;
  color: #ffffff;
}

.section-wrapper {
  background-color: rgba(5, 2, 2, 0.9);
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section-wrapper.show {
  display: flex;
}

.section-container {
  max-width: 30rem;
  max-height: 30rem;
  background-color: #ffffff;
  flex-basis: 35rem;
  border-radius: 0.8rem;
}

.section-img img {
  max-width: 30rem;
}

.section-write-up {
  padding: 1.5rem;
}

.project-date {
  display: flex;
  justify-content: space-between;
}

.section-write-up {
  display: flex;
  flex-direction: column;
}

.company-info {
  display: flex;
  justify-content: space-between;
}

.ministry-info {
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #00945e;
  padding: 0.5rem;
  border-radius: 0.25rem;
  min-width: 6rem;
  text-align: center;
  margin-top: 1rem;
}

.share {
  margin-bottom: 0.5rem;
}

.btn a {
  color: #ffffff;
  font-size: 0.8rem;
}

.btn img {
  margin-left: 0.2rem;
  height: 0.7rem;
}

.small-font {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.big-font {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media all and (max-width: 599px) {
  .section-container {
    overflow-y: scroll;
    max-height: 100%;
    border-radius: none;
  }

  .section-img img {
    width: 100%;
  }

  .project-date {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .company-info {
    flex-direction: column;
    justify-content: space-between;
  }

  .ministry-info {
    flex-direction: column;
  }

  .section-wrapper {
    background-color: #ffffff;
  }
}

@media all and (max-width: 900px) {
  .section-container {
    max-width: 25rem;
  }

  .section-img img {
    max-width: 25rem;
  }

  .small-font {
    font-size: 0.65rem;
  }

  .big-font {
    font-size: 0.8rem;
  }
}

@media all and (min-width: 1150px) {
  .section-container {
    max-width: 40rem;
  }

  .section-img img {
    max-width: 40rem;
  }

  .small-font {
    font-size: 0.9rem;
  }

  .big-font {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 1300px) {
  .section-container {
    max-width: 50rem;
    max-height: 50rem;
  }

  .section-img img {
    max-width: 50rem;
  }

  .small-font {
    font-size: 1rem;
  }

  .big-font {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.7rem;
  }

  .btn a {
    font-size: 1rem;
  }

  .btn img {
    height: 0.8rem;
  }
}

@media all and (min-width: 1850px) {
  .section-container {
    max-width: 70rem;
  }

  .section-img img {
    max-width: 70rem;
    background-size: cover;
  }

  .small-font {
    font-size: 1.5rem;
  }

  .big-font {
    font-size: 1.7rem;
  }

  .btn {
    padding: 1rem;
  }

  .btn a {
    font-size: 1.3rem;
  }

  .btn img {
    height: 1rem;
  }
}
