body {
  background: #e5e5e5;
}
.roundtable {
  background-image: url(./assets/images/2.png);
  /* position: absolute; */
  width: 1400px;
  height: 300px;
  left: 31px;
  top: 134px;
  padding: 20px;
}
h3 {
  position: relative;
  width: 920px;
  height: 43px;
  left: 180px;
  top: 60px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}
h6 {
  position: relative;
  width: 920px;
  height: 43px;
  left: 180px;
  top: 60px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
* {
  box-sizing: border-box;
}
.outsidegraph {
  margin-left: 70px;
  margin-bottom: 20px;
}
.graph {
  width: fit-content;
  padding-top: 20px;
  background-color: white;
  position: relative;
}

.graph .date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}
.graph .amount {
  position: absolute;
  top: 260px;
  left: -115px;
  font-weight: bold;
  font-size: 0.8rem;
  transform: rotate(-90deg);
}
.graphbody svg {
  margin-left: 20px;
  margin-right: 20px;
}
.graphbody {
  position: relative;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  /* padding: 0 10px; */
}

.graphlabel {
  display: flex;
  flex-direction: column;
  background-color: #005938;
  width: fit-content;
  border-radius: 5px;
  color: white;
  padding: 8px;
  position: relative;
  left: 240px;
}

.graphlines {
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
}
.graphlines .numbers {
  position: absolute;
  top: -10px;
  left: -35px;
}
.graphlines .numbers div {
  margin-bottom: 10.5px;
}
.graphline {
  width: 100%;
  height: 0.1px;
  background-color: #d7d7d7;
  margin-bottom: 30px;
}

@media only screen and (max-width: 411px) {
  .graphbody svg {
    width: 270px;
  }
  .graphlabel {
    left: 110px;
    top: 90px;
  }
}
