
 body {
    background-color: #ebf1ef;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100vh;
    flex-direction: column;
}

.list-container {
    display: flex;
      
}

.list-container img {
    width: 200px;
    height: 150px;
}

.class-text h3, h5 {
    width: 180px;
    
}

.flex-left img {
    height: 200px;
    width: 300px
   
}


.flex-right img{
    height: 200px;
    width: 300px;
    margin-bottom: 0px
}

.list-text {
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Lato;
    font-weight: lighter;

}

.list-text h4 {
    margin-bottom: 20px;
}

.flex-right {
    position: relative;
}

.learn-btn {
    position: absolute;
    top: 178px;
    left: 0px;
    background-color: #00945E;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    color: white;
    font-size: 13px;
    font-family: Lato;
}

.list-text h5 {
    font-weight: 100;
}

.learn-btn:focus {
    outline: none;
}

.flex-left {
    position: relative;
}
.container-wrapper {
    margin: 50px 0;

}

.container-wrapper .explore{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100px;
    font-size: 22px;
}
.learn-btn-2 {
    position: absolute;
    bottom: 3px;
    left: 0px;
    background-color: #00945E;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    color: white;
    font-size: 13px;
    font-family: Lato;
}
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 50px 0 20px; 
 } 
 
 h2 span { 
     background: #ebf1ef;
     padding:0 50px; 

 }

@media screen and (max-width: 400px){
    .list-container {
        display: flex;
        flex-direction: column;
        
    }

}
@media screen and (max-width: 600px){
    body {
        margin-top: 40px;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        
    }
    h2{
        margin-bottom: 30px;
    }

}
