* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 100%;
  padding-bottom: 5%;
  height: auto;
  background-color: #e5e5e5;
}

.header {
  height: auto;
  padding: 1rem 2rem;
  background-color: #00945e;
  color: #fff;
}

.page-desc {
  height: auto;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.handle-wrapper {
  margin: auto;
  padding: 5% 0;
  background-color: #fff;
  text-align: center;
}

.toggle {
  width: 90%;
  margin: 3% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5%;
  font-weight: bolder;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4rem;
}

.toggle:hover {
  color: #fff;
  background: #00945e;
}

.search {
  width: 100%;
  height: auto;
}

.min-search {
  height: auto;
  margin: auto;
}

.search-wrapper {
  width: 100%;
  height: auto;
  border: solid 1px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
  overflow: hidden;
}

#min-name {
  width: 80%;
  height: inherit;
  border: transparent;
  padding: 0.5rem;
}

#min-name:focus {
  outline: none;
}

.search-btn {
  width: 20%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #00945e;
  color: #fff;
}

.select-min {
  height: auto;

  margin: auto;
}

.select-wrapper {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  margin: 1.5% 0;
}

select#min-select {
  width: 100%;
  height: 2rem;
  outline: 1px;
  border-radius: 5px;
}

select * {
  background-color: #fff;
}

#minister-chev-up,
#ministry-chev-up {
  display: none;
}

#ministry-tab,
#minister-tab {
  display: none;
  width: 90%;
  margin: auto;
  background-color: #fff;
}

.info-wrapper {
  width: 100%;
  height: auto;
}

.ministry-info:nth-child(even),
.minister-info:nth-child(even) {
  background-color: #f7f7f7;
  border-radius: 5px;
}

.ministry-info,
.minister-info {
  width: 100%;
  padding: 0 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #191e29;
}

.info-header {
  background-color: #00945e;
  color: #fff;
}

@media screen and (min-width: 320px) {
  .handle-wrapper {
    width: 95%;
  }

  .page-desc {
    height: 40vh;
  }

  .min-search {
    width: 90%;
  }

  .select-min {
    width: 90%;
  }
}

@media screen and (min-width: 760px) {
  .handle-wrapper {
    width: 90%;
  }

  .page-desc {
    height: 50vh;
  }

  .min-search {
    width: 50%;
  }

  .select-min {
    width: 50%;
  }
}

#minister-tab.visible {
  display: block;
}

#minister-chev-down.invisible {
  display: none;
}

#minister-chev-up.visible {
  display: block;
}

#ministry-tab.visible {
  display: block;
}

#ministry-chev-down.invisible {
  display: none;
}

#ministry-chev-up.visible {
  display: block;
}

#ministry-toggle.hovered {
  color: #fff;
  background-color: #00945e;
}

#minister-toggle.hovered {
  color: #fff;
  background-color: #00945e;
}