body {
  font-family: 'Lato', sans-serif;
}
.dash {
    color: green;
    width: 8%;
    border-width: 5px;
    border-color: #7aba11;    
}

.green {
  color: green;;
}

.canvas {
  background: rgba(0, 0, 0, 0.1); 
}