.boxContainer{
    position: relative;
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px;
}
.search{
    border: none;
}
.search:focus{
    outline: none;
}
.img{
   vertical-align: middle;
}