<<<<<<< HEAD
@keyframes Slide_right{
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Slide_left{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0);
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
/* banner */
.banner-section{
    width: 100%;
    animation: Slide_right 1.1s ease-in;
}
.home-banner{
    background-color: #00945E;
    height: 40px;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    
}
.banner{
    background: linear-gradient( rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.623) ), url(../img/images28.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin-top: -21px;
}
.banner h1{
    text-align: left;
    font-size: 1.5em; 
    font-weight: bold;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 20px;
    margin-top: 21px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.banner p{
    font-size: 12px;
    text-align: left;
    color: white;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 650px){
    
}

@media only screen and (min-width: 1024px){
    .active{
        font-weight: bold;
    }
    .home-banner{
        /* width: 100%; */
        margin-top: 10px;
        height: 60px;
        padding-top: 10px;
        padding-left: 55px;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 34px;
    }
    .banner{
        margin-top: -45px;
        height: 503px;
        width: 100%;
    }
    .banner h1{
       padding-top: 70px;
       font-size: 56px;
       line-height: 74px;
       font-weight: bolder;
       margin-left: 30px;
margin-top: 45px;
    }
    .banner p{
        width: 40%;
        padding-left: 50px;
        font-weight: 600;
        font-size: 1em;
        line-height: 29px;
    }
}
=======
@keyframes Slide_right{
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes Slide_left{
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(0);
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
/* banner */
.banner-section{
    width: 100%;
    animation: Slide_right 1.1s ease-in;
}
.home-banner{
    background-color: #00945E;
    height: 40px;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 900;
    
}
.banner{
    background: linear-gradient( rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.623) ), url(../img/images28.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin-top: -21px;
}
.banner h1{
    text-align: left;
    font-size: 1.5em; 
    font-weight: bold;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 20px;
    color: white;
}
.banner p{
    font-size: 12px;
    text-align: left;
    color: white;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 50px;
}

@media only screen and (min-width: 650px){
    
}

@media only screen and (min-width: 1024px){
    .active{
        font-weight: bold;
    }
    .home-banner{
        /* width: 100%; */
        margin-top: 10px;
        height: 60px;
        padding-top: 10px;
        padding-left: 55px;
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
    }
    .banner{
        margin-top: -45px;
        height: 503px;
        width: 100%;
    }
    .banner h1{
       padding-top: 70px;
       font-size: 56px;
       line-height: 74px;
        font-weight: bolder;
        margin-left: 30px;
    }
    .banner p{
        width: 40%;
        padding-left: 50px;
        font-weight: 600;
        font-size: 1em;
        line-height: 29px;
    }
}
>>>>>>> 988c1fb64b037f751440415faaf11208c43b36bf
