body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.containerr{
    margin-top: -40px;
    text-align: center;
}
.logo1{
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.logo2{
width: 120px;
margin-left: -10px;
}
.hide-mobile{
display: none;
}
.menu{
   margin-top: 35%; 
   margin-right: 15px;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
}
li{
list-style-type: none;
}
nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background:rgb(13, 189, 136);
    height: 100%;
    padding: 3em;
    border-radius: 6px;
    z-index: 5;
}
nav ul li a{
color: white;
text-decoration: none;
display: block;
width: 100%;
padding: 1em ;
background-color: rgb(32, 128, 99);
}
.exit-btn{   
margin-bottom: 1em;
margin-top: -1.3em;
cursor: pointer;
}
/* banner */
.home-banner{
    background-color: #00945E;
    width: 100%;
    height: 30px;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 5px;
    font-size: .9em;
    font-weight: 900;
}
.banner{
    width: 100%;
    background: #80CAAF;
    margin-top: -21px;
}
.banner h1{
    font-size: 1.5em; 
    font-weight: bold;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.banner p{
    font-size: 12px;
    padding: 0 20px;
}
.home-btn{
    width: 120px;
    background: #FFFFFF;
    border: 1.5px solid #00945E;
    color: #00945E;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.home-btn:hover{
    background-color: rgb(248, 245, 245);
}
/* search */
input{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
}
::placeholder{
padding-left: 15px;
}
.fa-search{
   margin-left: 0px;
}

@media only screen and (min-width: 650px){
    .containerr{
        margin-top: -5px;
    }
    .menu{
margin-right: 30px;
    }
    .home-btn{
        width: 140px;
    }
}

@media only screen and (min-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .containerr{
margin-top: 5px;
    }
    .logo1{
        width: 80px;
        margin-top: 8px;
        margin-left: 50px;
    }
    .logo2{
        width: 150px;
    }
    nav ul{
        width: auto;
        position: inherit;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    .show-desktop{
        display: block;
    }
    .hide-desktop{
        display: none;
    }
    nav ul li{
        float: left;
    }
    .exit-btn{
        color: #ebf1ef;
    }
    nav ul li a{
        color: #323E48;
        background-color: inherit;
        font-size: 18px;
        margin-top: 2px;
        font-weight: 500;
    }
    nav ul li a:hover{
        text-decoration: underline rgb(13, 189, 136);
        font-weight: 800;
    }
    .active{
        font-weight: bolder;
    }
    .home-banner{
        width: 100%;
        margin-top: -15px;
        height: 40px;
        padding-top: 10px;
        padding-left: 55px;
        font-size: 1.1em;
        font-weight: 800;
    }
    .banner{
        margin-top: -28px;
        height: 300px;
    }
    .banner h1{
       padding-top: 70px;
        font-size: 30px;
        font-weight: bolder;
    }
    .banner p{
        font-size: 17px;
        padding: 0 45px;
        font-weight: 600;
        font-size: 1em;
    }
    .home-btn{
        margin-bottom: 20px;
        margin-top: 30px;
        width: 160px;
        padding: 15px;
    }
}