/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .topnav img{
    display: none;
  }
  .drpbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.topnav {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.topnav:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.topnav:hover .drpbtn {
  background-color: #3e8e41;
}

  header{
      color: white;
      padding: 10px;
      background-color: #00945e;
  }
  #sizing{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    height: 250px
  }
  .box .box-text #text{
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 40%; /* Adjust this value to move the positioned div up and down */
      text-align: center;
      width: 60%; /* Set the width of the positioned div */
      color: white;
      font-size: 30px;
  }

  #center{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  #imagesize{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 300px;
    height: 180px;
  }
  #greenbox{
    background-color: #00945E;
    color: white;
    padding-top: -10px;
    margin-top: -10px;
    width: 100%;
  }

  .fontIncrease{
    font-size: 20px;
    font-weight: 500;
  }
  .main{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .fontSize2{
    font-size: 25px;
    color: #005938;
  }
  .fontbig{
    font-size: 18px;
  }
  .bg{
    background-color:  #EBF1EF;
  }
  #fontSize{
    font-size: 25px;
    color: #005938;
  }
  #fontbig{
    font-size: 18px;
  }
  p{
    font-size: 12px;
  }
  .fontSizing{
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
            #marginTop{
                padding-top: 30px;
            }




            #center{
              text-align: center;
              padding-top: 40px;
              padding-bottom: 40px;
            }
            #greenbox{
                  background-color: #00945E;
                  color: white;
                  padding-top: 70px;
                  padding-bottom: 50px;
                  margin-top: -40px;
            }
            p{
              font-size: 12px;
            }
            #fontSize{
                color: #005938;
                font-size: 20px;
            }
            #marginRight{
              margin-right: 20px;
            }
            #image{
                margin-bottom: -20px;
                margin-left: 100px;
            }
            .fontIncrease{
              font-size: 16px;
              font-weight: 500;
            }
            #fontbig{
              font-size: 15px;
            }
            .fontSizing{
              font-size: 12px;
            }
            .bg{
              background-color: #EBF1EF;
              padding-top: 70px;
            }

            .drpbtn{
              display: none;
            }
          /* done by Amaka */
          .topnav img{
              height: 30px;
              width: auto;
              padding-left: 10px;
          }
          #image{
            margin-bottom: -40px;
          }
          .fontSize2{
            color: #005938;
            font-size: 20px;
            padding-left: 20px;
          }
          #move{
            font-size: 15px;
            padding-left: 20px;
          }
          .fontbig{
          font-size: 16px;
          padding-left: 20px;
          }
          .topnav {
              background-color: white;
              overflow: hidden;
            }
          .bg2{
            background-color: #e5e5e50d;
            padding-top: 70px;
          }
            /* Style the links inside the navigation bar */
            .topnav a {
              float: right;
              color: black;
              text-align: center;
              padding: 14px 16px;
              padding-right: 40px;
              text-decoration: none;
              font-size: 15px;
            }
          #sizing{
            width: 100%;
            vertical-align: middle;
            border-style: none;
            height: 250px
          }
            .topnav .left{
                padding-left: 0px;
                padding-right: 272px;
            }

            .topnav a:hover {
              background-color: #ddd;
              color: black;
            }

            .topnav a.active {
              background-color: #4CAF50;
              color: white;
            }

          header{
              color: white;
              padding: 10px;
              background-color: #00945e;
          }

          .box{

              position: relative;
          }

          .box .box-text{
              position: absolute;
              z-index: 999;
              margin: 0 auto;
              left: 0;
              right: 0;
              top: 40%; /* Adjust this value to move the positioned div up and down */
              text-align: center;
              width: 60%; /* Set the width of the positioned div */
              color: white;
              font-size: 30px;
          }
          /* done by mooh */
          footer{
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #323e48;
            font-size: 12px;
            line-height: 2;

          }
}
